* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
  background: indigo;
    /*background-color: blue;  For browsers that do not support gradients */
   /*background-image: linear-gradient(to right, purple, red, orange, yellow, green, blue, indigo, violet);*/

}

/* Header/Blog Title */
.header {
  border-radius: 25px;
    padding: 10px;
    text-align: left;
    background-color: indigo; /* For browsers that do not support gradients */
    /*background-image: linear-gradient(to right, skyblue, red, orange, purple, yellow, green, blue, indigo, violet);*/

  }
  .hero {
    width: 100%;
    margin-left: 40px;
    padding: 10px;
    height: 710px;
    background-color: purple;

    /*text-align: center;*/
  }

/*  #video-bg{
    position: absolute;
    min-width: 100%;
  }*/
  .hero img{
border-radius: 50%;

  }
  #container{
    width: 1000px;
    overflow: hidden;
  }

  #sliderbox{
    position: relative;
    width: 3200px;
    animation-name: slideranimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  #sliderbox img{
    float: left;
  }
  @keyframes slideranimation {
    0%
    {
      left: 0px;
    }
    20%
    {
      left: 0px;
    }
    25%
    {
      left: -800px;
    }
    45%
    {
      left: -800px;
    }
    50%
    {
      left: -1600px;
    }
    70%
    {
      left: -1600px
    }
    75%
    {
      left: -2400px;
    }
    80%
    {
      left: -2400px;
  }
}
  .logo img {
    width: 150px;
    height: auto;
    float:left;
 border-radius: 70%;
  }
  /*  border: 7px dotted purple;*/
.header h1 {
    font-size: 35px;

}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: red;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: blue;
    color: pink;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;

}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-img linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-color: pink;
    width: 100%;
    padding: 20px;

}


/* Add a card effect for articles */
.card {
    background-color: purple;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    width: 100%;
    background: purple;
    margin-top: 20px;
    font-size: 30px;
}
.fellowship {
    padding: 20px;
    width: 1020px;
    background: purple;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
